<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tripledigitaltwiningestor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0eaaa8a1-f19a-4951-a2e3-f38630709635/resourceGroups/DigitalTwins_Resource_Group/providers/Microsoft.Web/sites/TripleDigitalTwinIngestor</ResourceId>
    <UserName>$TripleDigitalTwinIngestor</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://tripledigitaltwiningestor.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>